<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <joint name="laser1_joint" type="fixed">
        <parent link="chassis"/>
        <child link="laser1_frame"/>
        <origin xyz="0.1 0.15 0.175" rpy="0 0 0"/>
    </joint>

    <link name="laser1_frame">
        <visual>
            <geometry>
                <cylinder radius="0.05" length="0.04"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.05" length="0.04"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.1" length="0.04" radius="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <gazebo reference="laser1_frame">
        <material>Gazebo/Red</material>

        <sensor name="laser1" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>100</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.523599</min_angle>
                        <max_angle>0.523599</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>100</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.523599</min_angle>
                        <max_angle>0.523599</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.8</min>
                    <max>6</max>
                </range>
            </ray>
            <plugin name="laser1_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=scan1</argument>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>laser_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>

    <joint name="laser2_joint" type="fixed">
        <parent link="chassis"/>
        <child link="laser2_frame"/>
        <origin xyz="0.1 -0.15 0.175" rpy="0 0 0"/>
    </joint>

    <link name="laser2_frame">
        <visual>
            <geometry>
                <cylinder radius="0.05" length="0.04"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.05" length="0.04"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.1" length="0.04" radius="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <gazebo reference="laser2_frame">
        <material>Gazebo/Red</material>

        <sensor name="laser2" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>100</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.523599</min_angle>
                        <max_angle>0.523599</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>100</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.523599</min_angle>
                        <max_angle>0.523599</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.8</min>
                    <max>6</max>
                </range>
            </ray>
            <plugin name="laser2_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=scan2</argument>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>laser_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>
        

</robot>